Repository jam-systems/jam: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-pantry, build-sfu, build-ui

.gitlab-ci.yml:

image: docker:git
services:
  - docker:dind

variables:
  DOCKER_NAMESPACE: registry.gitlab.com/jam-systems/jam
  DEPLOYMENT_PATH: /root/jam/deployment

stages:
  - build
  - deploy

build-pantry:
  stage: build
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $DOCKER_NAMESPACE/pantry:${CI_COMMIT_REF_SLUG} pantry
    - docker push $DOCKER_NAMESPACE/pantry:${CI_COMMIT_REF_SLUG}
  only:
    refs:
      - master
      - stable
    changes:
      - pantry/**/*
      - .gitlab-ci.yml

build-sfu:
  stage: build
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $DOCKER_NAMESPACE/pantry-sfu:${CI_COMMIT_REF_SLUG} pantry-sfu
    - docker push $DOCKER_NAMESPACE/pantry-sfu:${CI_COMMIT_REF_SLUG}
  only:
    refs:
      - master
      - stable
    changes:
      - pantry-sfu/**/*
      - .gitlab-ci.yml

build-ui:
  stage: build
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $DOCKER_NAMESPACE/ui:${CI_COMMIT_REF_SLUG} ui
    - docker push $DOCKER_NAMESPACE/ui:${CI_COMMIT_REF_SLUG}
  only:
    refs:
      - master
      - stable
    changes:
      - ui/**/*
      - .gitlab-ci.yml

update-beta-server:
  stage: deploy
  only:
    refs:
      - master
  variables:
    GIT_STRATEGY: none
    DEPLOYMENT_HOST: beta.jam.systems
  script:
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $DEPLOYMENT_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - ssh root@$DEPLOYMENT_HOST "cd $DEPLOYMENT_PATH && git pull && docker-compose pull && docker-compose up -d && exit"

update-prod-server:
  stage: deploy
  only:
    refs:
      - stable
  variables:
    GIT_STRATEGY: none
    DEPLOYMENT_HOST: jam.systems
  script:
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $DEPLOYMENT_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - ssh root@$DEPLOYMENT_HOST "cd $DEPLOYMENT_PATH && git pull && docker-compose pull && docker-compose up -d && exit"

wake lock permission on iframe in React component
  ui/packages/jam-react/index.jsx
Due: build-ui

fix ws closing
  pantry/services/ws.js
Due: build-pantry

WIP: make identity creation async
  pantry/routes/modMessage.js
  pantry/ssr/index.js
  pantry/ssr/ssr-engine.js
  ui/bundling/all.js
  ui/jam-core/AppState.js
  ui/jam-core/connections/ConnectRoom.js
  ui/jam-core/identity.ts
  ui/lib/swarm.js
  ui/package.json
  ui/packages/jam-core/README.md
  ui/packages/jam-core/package.json
  ui/views/PossibleRoom.jsx
  ui/yarn.lock
Due: build-pantry, build-ui

fix connection with identity from URL, make identity real-time updatable from URL
  ui/jam-core/AppState.js
  ui/jam-core/connections/ConnectRoom.js
  ui/jam-core/identity.ts
Due: build-ui

minor
  ui/jam-core/identity.ts
Due: build-ui

minor
  .gitignore
Due: none

refactor ConnectRoom
  ui/jam-core/AppState.js
  ui/jam-core/connections/ConnectRoom.js
Due: build-ui

minor efficiency
  ui/jam-core/connections/ConnectRoom.js
  ui/lib/state-tree.js
Due: build-ui

remove unnecessary changes
  pantry/ssr/index.js
  pantry/ssr/ssr-engine.js
  ui/package.json
  ui/packages/jam-core/README.md
Due: build-pantry, build-ui

fix tailwind css purging
  ui/package.json
Due: build-ui

improve jam-react package
  ui/package.json
  ui/packages/jam-react/README.md
  ui/packages/jam-react/example/App.jsx
  ui/packages/jam-react/index-complicated.jsx
  ui/packages/jam-react/index.d.ts
  ui/packages/jam-react/index.jsx
  ui/packages/jam-react/package.json
  ui/packages/jam-react/yarn.lock
Due: build-ui

jam-react 0.2
  ui/packages/jam-react/package.json
Due: build-ui

README: add info about SDK
  README.md
Due: none

add live room API /api/v1/rooms/:id/live sends back a list of users currently connected to the room
  pantry/app.js
  pantry/routes/liveRoom.js
  pantry/services/ws.js
Due: build-pantry

podcast recording mvp
  ui/jam-core.ts
  ui/jam-core/AppState.js
  ui/jam-core/audio.js
  ui/jam-core/audio/PodcastRecording.js
  ui/lib/swarm.js
  ui/views/EditRole.jsx
  ui/views/RoomHeader.jsx
Due: build-ui

save track as .opus
  ui/jam-core/audio/PodcastRecording.js
Due: build-ui

small fix
  ui/packages/buildProxyPackage.mjs
Due: build-ui

bump jam-core
  ui/packages/jam-core-react/package.json
  ui/packages/jam-core/package.json
Due: build-ui

bump watsign & fast-base64 for old bundler compat
  ui/package.json
  ui/packages/jam-core-react/package.json
  ui/packages/jam-core/package.json
  ui/yarn.lock
Due: build-ui

Allow jam-core to be used under Apache-2.0 license
  ui/packages/jam-core/package.json
Due: build-ui

Allow jam-core to be used under Apache 2.0 License
  ui/packages/jam-core-react/package.json
Due: build-ui

Sync jam-core and jam-core-react versions
  ui/packages/jam-core-react/package.json
Due: build-ui

minor UI fix
  ui/views/RoomHeader.jsx
Due: build-ui

add some missing types
  ui/jam-core/state.ts
Due: build-ui

fix bug that caused last 2 sec of podcast recordings to get lost
  ui/jam-core/audio/PodcastRecording.js
Due: build-ui

fix: url room identity from seed w/o name/avatar
  ui/views/PossibleRoom.jsx
Due: build-ui

updated Jam emoji
  README.md
Due: none

add info about keys.seed to room config table
  README.md
Due: none

fix #143 make turnserver.conf a template
  .gitignore
  deployment/turnserver.conf.example
Due: none

Update .env.example change the comment position to prevent mistake
  deployment/.env.example
Due: none

Use newer conturn image
  deployment/docker-compose.yml
Due: none

fix hard-coded public stun server
  ui/jam-core/connections/ConnectRoom.js
Due: build-ui

Make default installationeasier DNSwise
  ui/jam-core.ts
Due: build-ui

Fix build of pantry-sfu
  pantry-sfu/Dockerfile
  pantry-sfu/package.json
Due: build-sfu

Make Jam more skinnable
  ui/Jam.jsx
  ui/lib/theme.js
  ui/package.json
  ui/public/css/main.css
  ui/views/Avatar.jsx
  ui/views/Container.jsx
  ui/views/EnterRoom.jsx
  ui/views/InfoModal.jsx
  ui/views/Me.jsx
  ui/views/Navigation.jsx
  ui/views/Room.jsx
  ui/views/RoomHeader.jsx
  ui/views/Start.jsx
  ui/views/StartFromURL.jsx
Due: build-ui

Fix stray reference to old color value
  ui/views/Navigation.jsx
Due: build-ui

Fix location of coturn config
  deployment/docker-compose.yml
Due: none

Fix memoization (and clean up unused is)
  ui/views/Navigation.jsx
Due: build-ui

Allow fixing Names and avatars for identities in a room
  ui/lib/avatar.js
Due: build-ui

Add debug code for mysterious beta problem
  pantry/services/ws.js
Due: build-pantry
